.slick-arrow {
  &.slick-prev {
    left: 25px;
    color: white !important;
    z-index: 9999;
  }

  &.slick-next {
    right: 25px;
    color: white !important;
    z-index: 9999;
  }
}

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";


