.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: transparent;
  border: none; }
  .navbar-expand-lg .navbar-nav .dropdown-menu a {
    color: white;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }

#mainNav .navbar-nav > li.nav-item a {
  color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 992px) {
    #mainNav .navbar-nav > li.nav-item a {
      color: #FFF; } }

