.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: transparent;
  border: none; }
  .navbar-expand-lg .navbar-nav .dropdown-menu a {
    color: white;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }

#mainNav .navbar-nav > li.nav-item a {
  color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 992px) {
    #mainNav .navbar-nav > li.nav-item a {
      color: #FFF; } }

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear; }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
